/********************************************************************/
/* ARTICLE VIEW *****************************************************/
/********************************************************************/

// Framework
@import 'vendor/bourbon/bourbon';
@import 'library/all';

// Components
@import 'components/box_list';

/* ARTICLE DETAIL VEW */
.a_view {

	.head {

		border: 1px solid $c_sep_2; border-width: 1px 0; padding: em(10,12) 0;

		h1 { font-size: em(36,12); line-height: em(48,36); color: $c_gray_2; font-weight: $f_weight_light; margin-bottom: em(5,36); }
		p { font-size: em(20,12); color: $c_main_01; font-style: italic; }

		@media screen and (max-width: $breakpoint_micro_smaller) {

			h1 { font-size: em(18,12); line-height: em(24,18); margin-bottom: em(5,18); }
			p { font-size: em(12,12); }

		}

	}

	.main_figure {

		margin-bottom: 1em;

		img { width: 100%; }

		figcaption { font-size: em(12,12); color: $c_gray_03; padding: em(10,12) 0; font-style: italic; border-bottom: 1px solid $c_sep_3; }

	}

	.entry_content {

		font-size: em(15,12); line-height: em(24,15); color: $c_gray_02;

		p,ul,ol { margin-bottom: em(18,15); }

		ul {
			padding-left: em(24,15);
			li { list-style: disc; margin-bottom: em(5,15); }
		}

		ol {
			padding-left: em(24,15);
			li { list-style: decimal; margin-bottom: em(5,15); }
		}

		h2 { font-size: em(24,15); line-height: em(30,24); color: $c_gray_2; font-weight: $f_weight_normal; margin-bottom: em(18,24); }

		.intro { font-size: em(18,15); line-height: em(28,20); color: $c_gray_2; margin-bottom: em(24,19); }

		.content_figure {

			display: table; border: 1px solid $c_bord_1; background: $c_bord_1; margin: em(7,15) em(24,15) em(12,15) 0;

			figcaption { font-size: em(12,15); line-height: em(17,12); color: $c_gray_3; padding: em(5,11) em(8,11); font-style: italic; display: table-caption; caption-side: bottom; background: tint($c_bord_1,50%); }

			&.left { float: left; }
			&.right { float: right; }

			@media screen and (max-width: $breakpoint_micro_smaller) {

				width: 45%; margin: 0 em(12,15) em(6,15) 0;
				img { width: 100%; }
				margin-top: em(7,15);

			}

		}

		.extra_list {

			float: left; width: em(220,15); margin: 0 em(24,15) 0 0;

			.title { font-size: em(18,15); color: $c_main_01; font-weight: $f_weight_light; border: 1px solid $c_sep_1; border-width: 0 0 1px 0; margin-bottom: em(10,18); padding-bottom: em(5,18); }

			ul { color: $c_main_01; font-size: em(14,15); line-height: em(20,15); }
			li { margin-bottom: em(8,15); }

			@media screen and (max-width: $breakpoint_micro_smaller) {

				float: none; width: auto; margin: 0;

			}

		}

		.content_table {

			overflow-y: scroll; margin-bottom: em(18,15);

			table { min-width: 100%; }

			th { font-size: em(11,15); line-height: em(15,11); padding: em(10,11) em(5,11); font-weight: $f_weight_bold; background: $c_main_01; color: $c_gray_07; text-transform: uppercase; text-align: center; vertical-align: middle; }
			td { font-size: em(13,15); line-height: em(15,13); padding: em(10,13) em(5,13); text-align: center; vertical-align: middle; }

			tr:nth-child(odd) td { background: tint($c_main_02,90%); }

			caption { font-size: em(12,15); padding: em(10,12) 0 em(5,12); line-height: em(17,12); color: $c_gray_03; border-bottom: 1px solid $c_sep_3; font-style: italic; caption-side: bottom; text-align: left; margin-bottom: em(18,15); }

			@media screen and (min-width: $breakpoint_small_larger) {

				overflow: visible;

			}

		}

		blockquote {

			float: left; margin: 0 em(24,22) em(12,22) 0; position: relative; padding-left: em(24,22); width: em(220,22);
			color: $c_main_01; font-size: em(22,15); line-height: em(30,22); font-weight: $f_weight_bold; font-style: italic;

			&:before,
			&:after { font-size: em(36,22); line-height: em(19,36); }

			&:before { content: open-quote; position: absolute; left: 0; top: 0; }
			&:after { content: close-quote; }

			p { margin: 0; display: inline; }

			@media screen and (max-width: $breakpoint_micro_smaller) {

				display: block; float: none; width: auto; margin: 0 0 em(12,22) 0; padding: 0;

				&:before { position: relative; }
				&:after { display: none; }

			}

		}

	}

	&.s_type {

		.head { border: 0; margin-bottom: em(10,12); }

		.meta_interactions {

			border: 1px solid darken($c_gray_05,10%); border-width: 1px 0; margin-bottom: em(24,11);

			@media screen and (max-width: $breakpoint_micro_smaller) {

				margin-bottom: em(12,11);

			}

		}

	}

}

/* ARTICLE DETAIL INFO */
.a_info {

	margin-bottom: 2em;

	.meta {

		background: tint($c_main_01,97%); border: 1px solid $c_gray_05; border-bottom: 1px solid $c_main_01;

		li {
			@include box-sizing(border-box);
			font-size: em(11,12); line-height: em(18,11); padding: em(12,11); float: left; width: percentage(1/3); text-align: center;
			strong { display: block; font-weight: 400; color: $c_main_01; text-transform: uppercase; }
			&:first-child { text-align: left; }
			&:last-child { text-align: right; }
		}

	}

	.item {

		background: tint($c_main_01,90%); border: 1px solid $c_gray_05; border-top-width: 0;

		.head_01 {

			padding: em(5,22) 0 em(5,22) em(48,22); margin-bottom: 0; border-color: $c_gray_04; display: block;

			&.icon:before { font-size: em(26,22); height: em(24,26); width: em(25,26); top: em(9,26); left: em(12,26); background: $c_gray_07; }

			@media screen and (max-width: $breakpoint_micro_smaller) {

				&.icon:before { top: em(13,26); }

			}

		}

		.detail {

			border-bottom: 1px solid $c_gray_04; padding: 1em; position: relative; padding-right: em(136,12);

			.img { float: left; margin-right: 1em; }

			.data { overflow: hidden; }

			.subtitle { font-size: em(11,12); line-height: em(14,11); color: darken($c_gray_03,15%); font-weight: 600; text-transform: uppercase; }

			.title {

				font-size: em(15,12); line-height: em(18,15); color: $c_gray_02; font-weight: 600; margin-bottom: em(5,15);

				a {
					color: $c_gray_02;
					&:hover { color: $c_main_01; }
				}

			}

			.info { margin-bottom: em(5,15); }

			p { font-size: em(11,12); line-height: em(14,11); color: darken($c_gray_03,15%); }

			.button_01 { position: absolute; top: 50%; margin-top: -1em; right: em(20,12); }

			@media screen and (max-width: $breakpoint_micro_smaller) {

				padding-right: 1em;

				.button_01 { top: em(-36,12); margin-top: 0; right: em(5,12); }

			}

		}

		.extra {
			padding: 1em;

			.count {
				font-size: em(14,12); line-height: em(36,14); position: relative; float: right; margin-left: em(22,14);

				&.icon {
					padding-right: em(38,14);

				}

				&:before {
					@include border-radius(50%);
					font-size: em(42,22); height: em(42,42); width: em(42,42); top: em(9,42); right: 0; background: $c_gray_07;
				}

			}

			p {
				font-size: em(14,12); line-height: em(18,14); overflow: hidden;
				strong { font-size: em(11,14); display: block; text-transform: uppercase; }
			}

			@media screen and (max-width: $breakpoint_micro_smaller) {

				.count { float: none; margin: 0 0 em(12,14); display: block; }

			}

		}


	}

}

/* EXTRA */

.box_icd {

	margin-bottom: 2em;

	p {
		border: 1px solid $c_sep_2; border-width: 1px 0;
		background: tint($c_main_01,90%); padding: em(12,12);
	}

	@media screen and (max-width: $breakpoint_small_smaller) {

		margin-bottom: 1em;

	}

}