/********************************************************************/
/* LISTING MODULE ***************************************************/
/********************************************************************/

// Framework
@import 'vendor/bourbon/bourbon';
@import 'library/all';


.std_list {

	position: relative; margin-bottom: 2em;

	> li { position: relative; }
	> li:nth-child(odd) { background-color: lighten($c_main_01, 72%); }

	.item_menu { position: absolute; right: 0.5em; top: 0.5em; width: em(150,12); }

	@media screen and (max-width: $breakpoint_small_larger) {

		margin-bottom: 1em;

	}

}

.std_list_item {

	display: block; position: relative; padding: 1em; color: $c_gray_02;

	.data { @include box-sizing(border-box); padding-left: 1em; margin-left: em(80,12); }

	.img_box { float: left; width: em(80,12); position: relative; margin-bottom: 1em; text-align: center; }
	.img_box img { display: block; width: 100%; border: 1px solid $c_gray_05; }

	.title { font-size: em(15,12); margin-bottom: em(5,20); font-weight: 600; color: $c_gray_2; }

	.attributes { margin-bottom: 1em; }
	.attributes dt { display: inline; color: $c_main_01; }
	.attributes dd { display: inline; }

	.location { position: relative; padding-left: em(24,12); }
	.location:before { position: absolute; left: 0; top: 0.2em; font-size: 1.6em; color: $c_main_02; }
	.location span { color: $c_main_01; }

	.workhours { margin: 1em 0 1em 2em; }
	.workhours dt { color: $c_main_01; }

	&.with_item_menu .title { margin-right: 3em; }

	&.location_info_box .img_box 		{ width: 30%; }
	&.location_info_box .data 			{ width: 70%; }
	&.location_info_box .workhours 		{ text-align: left; margin: 1em 0 1em 2em; }

	@media screen and (min-width: $breakpoint_medium_larger) {

		.img_box { width: 15%; }
		.data { float: right; width: 85%; margin-left: 0; }

		.title { font-size: em(20,12); }
		.workhours { text-align: right; margin-left: 0; margin-top: 0; }

		&.location_info_box .img_box 		{ width: 25%; }
		&.location_info_box .data 			{ width: 75%; }

	}

}