/********************************************************************/
/* CORE *************************************************************/
/********************************************************************/

html { font-size: 62.5%; font-family: $main_font; }
body { font-size: 1em; }

html,
body { min-height: 100%; }

a {
	color: $cMain01;
	&:hover	{ color: darken($cMain01, 20%); }
}

.cf {
	@include cf;
}

/********************************************************************/
/* WRAP *************************************************************/
/********************************************************************/


/********************************************************************/
/* GENERAL ELEMENTS *************************************************/
/********************************************************************/