/*! gesund.at main CSS file, author: Trikoder d.o.o. */
/* Typo
*******************************************************/
/* Colors
*******************************************************/
/* Breakpoints
*******************************************************/
/* Helpers
*******************************************************/
/* UI elements
*******************************************************/
/* Animations
*******************************************************/
/* Reset & Normalize &  & Helpers */
a {
  text-decoration: none;
  cursor: pointer;
}

a:focus,
a::-moz-focus-inner {
  border: 0;
  outline: none;
}

::-webkit-input-placeholder {
  opacity: 1;
  color: inherit;
}

:-moz-placeholder {
  opacity: 1;
  color: inherit;
}

::-moz-placeholder {
  opacity: 1;
  color: inherit;
}

:-ms-input-placeholder {
  opacity: 1;
  color: inherit;
}

:focus::-webkit-input-placeholder {
  opacity: 0;
}

:focus:-moz-placeholder {
  opacity: 0;
}

:focus::-moz-placeholder {
  opacity: 0;
}

:focus:-ms-input-placeholder {
  opacity: 0;
}

ol, ul, li, fieldset, h1, h2, h3, h4, p, dl, dt, dd {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  font-size: 1em;
}

img {
  font-style: italic;
  vertical-align: bottom;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0;
}

label {
  cursor: pointer;
}

em {
  font-style: normal;
}

select {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/********************************************************************/
/* FONT ICONS *******************************************************/
/********************************************************************/
/* general setup */
@font-face {
  font-family: exampleName;
  src: url("../font/exampleName.eot?v=3");
  src: url("../font/exampleName.eot?#iefix") format("embedded-opentype"), url("../font/exampleName.woff?v=3") format("woff"), url("../font/exampleName.ttf?v=3") format("truetype"), url("../font/exampleName.svg#exampleName") format("svg");
  font-weight: normal;
  font-style: normal;
}
.icon {
  display: inline-block;
  position: relative;
}
.icon:before {
  font-family: exampleName;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 0;
  left: 0;
}

.iconRpl {
  display: inline-block;
}
.iconRpl span {
  display: none;
}
.iconRpl:before {
  font-family: exampleName;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
}

/* icons */
.iconExample:before {
  content: "\e60d";
}

/********************************************************************/
/* CORE *************************************************************/
/********************************************************************/
html {
  font-size: 62.5%;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  font-size: 1em;
}

html,
body {
  min-height: 100%;
}

a {
  color: #00aeef;
}
a:hover {
  color: #006489;
}

.cf {
  zoom: 1;
}
.cf:before, .cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}

/********************************************************************/
/* WRAP *************************************************************/
/********************************************************************/
/********************************************************************/
/* GENERAL ELEMENTS *************************************************/
/********************************************************************/
/********************************************************************/
/* PLACEHOLDER VARIATIONS *******************************************/
/********************************************************************/
.variation01 {
  position: relative;
  padding-bottom: 100%;
}
.variation01 img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100%;
}

/********************************************************************/
/* LAZY IMAGES ******************************************************/
/********************************************************************/
.lazyLoadImage {
  background: #f0efef;
}
.lazyLoadImage img {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: opacity 0.25s ease-in;
  -moz-transition: opacity 0.25s ease-in;
  transition: opacity 0.25s ease-in;
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
.lazyLoadImage img.lateImageLoaded {
  opacity: 1;
  filter: alpha(opacity=100);
}
