/********************************************************************/
/* BANNERS **********************************************************/
/********************************************************************/

.banner {

	margin-bottom: 2em;
	img, a, object, iframe { display: block; margin: 0px auto; }

	@media screen and (max-width: $breakpoint_small_smaller) {

		margin-bottom: 1em;

	}

}

.internal_banner {

	margin-bottom: 2em;

	a { display: block; }
	img { width: 100%; }

	@media screen and (max-width: $breakpoint_small_smaller) {

		margin-bottom: 1em;

	}

}

.int_banners {

	.item { display: block; position: relative; color: $c_gray_02; }
	.item img { display: block; width: 100%; }
	.item .title { position: absolute; left: 0; right: 0; bottom: 0; background-color: rgba(#fff, 0.9); font-size: em(20,12); padding: em(5,30) em(15,30) em(10,30); }

	@media screen and (max-width: $breakpoint_micro_smaller) {

		.item { margin-bottom: 1em; }

	}

	@media screen and (min-width: $breakpoint_micro_larger) {

		margin-bottom: 1em;

		.item { float: right; width: 48.6%; }
		.item:first-child { float: left; }

	}

	@media screen and (min-width: $breakpoint_small_larger) {

		margin-bottom: 2em;

	}

	@media screen and (min-width: $breakpoint_medium_larger) {

		.item .title { font-size: em(30,12); }

	}

}