/********************************************************************/
/* EVENTS TEASER ****************************************************/
/********************************************************************/

.events_teaser {

	margin-bottom: 2em; background: $c_gray_8; border: 1px solid $c_bord_1;
	
	.title { margin: -1px -1px 0; }

	.box { border-top: 1px solid $c_bord_1; }
	li:first-child .box { border: 0; }

	.link { 
		display: block; overflow: hidden; color: $c_gray_2; padding: 1em;
		&:hover h4 { color: $c_main_01; }
	}	
	
	.datetime {
		
		font-size: em(13,12); font-weight: $f_weight_bold; color: $c_main_01; display: block; margin-bottom: em(5,13);
		
		.icon { padding-left: em(20,13); }
		.icon:before { left: 0; font-size: em(15,13); }
		.date { margin-right: em(16,13); }

	}

	h4 { font-size: em(16,12); font-weight: $f_weight_normal; margin-bottom: em(5,13); }
	p { color: $c_gray_4; }

	.address { padding: 0.1em 0 0.35em 1.45em; }
	.address:before { font-size: 1.25em; left: 0; }

	.btn_area { text-align: center; margin-bottom: 1em; }

	@media screen and (max-width:$breakpoint_small_smaller) {

		margin-bottom: 1em;

	}

}