/********************************************************************/
/* FAQ LIST *********************************************************/
/********************************************************************/

.faq_list {

	margin-bottom: 2em;

	.list {
		
		border-top: 1px solid $c_gray_05;

		li { border-bottom: 1px solid $c_gray_05; overflow: hidden; padding: 1.5em 0; position: relative; }

		h3 {
			font-size: em(15,12); line-height: em(18,15); font-weight: 600; color: $c_gray_03; padding-right: em(48,15); cursor: pointer;
			&:hover { color: $c_main_01; }
			&.icon:before {
				@include border-radius(1.5em);
				background: $c_gray_7;
				color: $c_main_01; line-height: em(30,15);
				position: absolute; top: 50%; right: 0; margin-top: em(-15,15); width: em(30,15); height: em(30,15); padding: 0; text-align: center;
			}
		}

		.active h3 {
			color: $c_main_01;
			&.icon:before {
				content: "\e60b";
			}
		}

		.data { display: none; overflow: hidden; font-size: em(13,12); line-height: em(18,13); padding-top: em(12,13); color: $c_gray_03; }

		.active .data { display: block; }

	}

}