.filter_pane {

	position: relative; background: tint($c_main_01, 90%); padding: 0 em(12,12); @include box-sizing(border-box);

	.group { padding: em(15,12) 0; border-top: 1px solid darken(tint($c_main_01, 90%), 15%); }
	.group:first-child { border-top: 0; }
	.title { font-size: em(11,12); text-transform: uppercase; color: $c_main_01; font-weight: 700; margin: -0.2em 0 0.7em; }

	.skin_select,
	.skin_select .btn { display: block; }

	.skin_checkbox,
	.skin_radio { float: left; width: 50%; @include box-sizing(border-box); }

	.category_filter.opened {  }
	.category_filter.opened .skin_select { margin-bottom: 1em; }
	.category_filter.opened .skin_select:first-child { margin-right: 3em; }
	.category_filter.opened .skin_select:last-child { margin-bottom: 0; }
	.reset_btn { position: absolute; right: 1.4em; top: 2.1em; display: block; }
	.reset_btn:before { font-size: 1.5em; }

}