/********************************************************************/
/* FORUM TEASER *****************************************************/
/********************************************************************/

.forum_teaser {

	background: $c_gray_06; padding: 1em; margin-bottom: 2em; border: 1px solid $c_gray_05;

	&.blank {
		background: none; padding: 0; border: 0;
	}

	.head_01 {
		margin-bottom:em(12,22);
	}

	/* stats items start */
	.stat_items {
		border-bottom:1px solid tint($c_main_01,50%);
		padding-bottom:1em;

		.stat_items_inner {
			@include rem(letter-spacing,-4,12);
			@include rem(padding,0 10,12);
			text-align:center;
		}
	}

	.stat_item {
		display:inline-block;
		width:percentage(1/3);
		font-size:em(14,12);
		letter-spacing:normal;

		.stat_item_inner {
			margin-top:em(5,11);
			font-size:em(11,14); line-height:1.2;
			font-weight: $f_weight_light;
			color:$c_gray_2;
		}

		.stat {
			display:block;
			font-size:em(13,11);
		}

		&:before {
			position:static;
			font-size:40px;
			color:$c_main_02;
		}
	}

	@media screen and (min-width:$breakpoint_micro_larger) {

		.head_01 {
			margin-bottom:em(24,22);
		}

		.stat_items {
			padding-bottom:2em;

			.stat_items_inner {
				font-size:0.1px;
				text-align:justify;

				&:after {
					content:'';
					width:100%;
					display:inline-block;
				}
			}
		}

		.stat_item {
			@include rem(font-size,18,12);
			padding-left:em(55 + 10,18);
			width:auto;

			.stat_item_inner {
				font-size:em(16,18);
			}

			.stat_item_inner {
				margin-top:0;
			}

			.stat {
				font-size:1em;
			}

			&:before {
				position:absolute;
				left:0; top:-7px;
				font-size:55px;
			}
		}
	}
	/* stats items end */

	.post_items {
		@include rem(letter-spacing,-4,12);
		margin:0 -(em(10,12));
	}

	.post_item {
		display:inline-block;
		width:percentage(1);
		margin-top:em(25,12);
		vertical-align:top;
		letter-spacing:normal;

		@media screen and (min-width:$breakpoint_small_larger) {
			width:percentage(1/2);
		}
	}

	.post {
		padding:0 em(10,12);

		.username {
			display:block;
			margin-bottom:em(6,12);
			font-weight: $f_weight_bold;
		}

		.title {
			display:block;
			font-size:em(14,12); font-weight: $f_weight_normal;
			margin-bottom:em(6,14);

			a {
				color: $c_gray_2;

				@include hover {
					color: $c_main_01;
				}
			}
		}

		.meta {
			font-size:em(11,12);
			color:$c_main_01;

			.time {
				margin-left:em(10,11);
			}

			.icon {
				padding-left:em(14 + 5,11);

				&:before {
					left:0; top:1px;
					font-size:em(14,11);
				}
			}
		}
	}

	.more {
		margin: 3em 0 1em;
		text-align:center;
	}

	@media screen and (max-width:$breakpoint_small_smaller) {

		margin-bottom: 1em;

		.more { margin: 2em 0 0em; }

	}

}

/* forum teaser while inside sidebar */
.content_sidebar .forum_teaser {

	.stat_items_inner {
		padding: 0;
	}

	.stat_item {

		@include rem(font-size,13,12);
		padding-left:em(40 + 10,18);

		&:before {
			top: 1px;
			font-size:em(40,18);
		}

	}

	.post_item {
		width:percentage(1);
	}

}

/* forum teaser simple list */
.forum_teaser.listed {

	.head_01 { margin-bottom: 0; }

	.post_items {
		letter-spacing: 0;
		margin: 0;
	}

	.post_item {
		width:percentage(1);
		border-top: 1px solid $c_gray_05;
		margin: 0;
		padding: em(12,12) 0;

		&:first-child { border: none; }
	}

	.post {
		padding: 0;
	}

}