#page_header { 

	position: relative;

	.brand { padding: 1em; background-position: center center; background-repeat: no-repeat; display: block; text-indent: -9999px; }	

	/* mobile & tablet variation */
	@media screen and (max-width: $breakpoint_medium_smaller) {

		background: $c_gray_06; margin-bottom: 2em;

		.links,
		.user { display: none; }
		
		.brand { padding: 1em; width: 134px; height: 28px; background-image: url(../images/branding_01.png); margin: 0 auto; }

		.nav_toggle,
		.search_toggle { position: absolute; top: 0; bottom: 0; font-size: em(13,12); line-height: em(52,12); padding: 0 1em; color: tint($c_main_01,60%); text-transform: uppercase; }
		.nav_toggle:before,
		.search_toggle:before { color: $c_main_01; }

		.nav_toggle:hover,
		.nav_toggle:hover:before,
		.search_toggle:hover,
		.search_toggle:hover:before { color: darken($c_main_01, 5%); }

		.nav_toggle { left: 0; padding: 0 em(10,13) 0 em(64,13); }
		.nav_toggle:before { top: em(12,30); left: em(24,30); font-size: em(30,13); }

		.search_toggle { right: 0; padding: 0 em(64,13) 0 em(10,13); }
		.search_toggle:before { top: em(15,25); right: em(24,25); font-size: em(25,13); }

	}

	/* mobile variation */
	@media screen and (max-width: $breakpoint_small_smaller) {

		margin-bottom: 1em;

		.search_toggle span,
		.nav_toggle span { display: none; }

		.nav_toggle:before { left: em(10,30); }
		.search_toggle:before { right: em(10,25); }


	}

	/* desktop variation */
	@media screen and (min-width: $breakpoint_medium_larger) {

		padding: 1em 2em;

		.links {

			float: right;

			ul { float: left; }
			li { float: left; margin-left: em(28,12);  }
			li:first-child { margin-left: 0; }

			a { font-size: em(10,12); line-height: em(29,10); color: $c_gray_03; text-transform: uppercase; }
			a:hover { color: $c_gray_02; }

			.social { margin-left: em(20,12); }
			.social li { margin-left: em(20,12); }
			.social .icon_rpl { font-size: em(24,10); color: lighten($c_gray_04,15%); }
			
			.social .fb_icon_circle:hover { color: $c_icon_fb; }
			.social .tw_icon_circle:hover { color: $c_icon_tw; }
			.social .gp_icon_circle:hover { color: $c_icon_gp; }

		}

		.user {

			position:absolute; right: 2em; bottom: 2em;

			p { font-size: em(11,12); color: $c_gray_03; text-transform: uppercase; }

			p.icon {
				padding-left: em(40,11);
				&:before {
					bottom: 0; left: 0; color: lighten($c_main_01,10%); font-size: em(25,11);
					/*@include font-gradient-enable;
					@include linear-gradient(to bottom, $c_main_02, $c_main_01);*/
				}
			}	

		}

		.brand {
			width: 116px; height: 110px; float: left; background-image: url(../images/branding.png);
			&.services { background-image: url(../images/branding_services.png); }
			&.kompass { background-image: url(../images/branding_kompass.png); }
			&.communitiy { background-image: url(../images/branding_communitiy.png); }
		}

		.nav_toggle { display: none; }
		.search_toggle { display: none; }

	}
	
}
