/********************************************************************/
/* INTRO TEXT MODULES ***********************************************/
/********************************************************************/

.intro_text {

	margin-bottom: 2em;

	p { font-size: em(19,12); line-height: em(27,19); color: $c_gray_b; margin-bottom: em(24,19); }

	&.border { border-bottom: 1px solid lighten($c_gray_04,10%); }

	@media screen and (max-width: $breakpoint_small_smaller) {

		margin-bottom: 1em;
		p { font-size: em(16,12); line-height: em(24,16); margin-bottom: em(12,16); }

	}

}

.intro_text_02 {

	margin-bottom: 2em;

	p { font-size: em(14,12); color: $c_gray_b; margin-bottom: em(24,14); }
	ul { margin-bottom: 2em; }
	li {
		font-size: em(13,12); color: $c_gray_a; padding-left: em(21,13); margin-bottom: em(12,13); position: relative; overflow: hidden;
		a { color: $c_gray_a; }
		a:hover { color: $c_main_01; }
	}
	li:before { @include border-radius(50%); content: ""; position: absolute; top: .45em; left: 0; width: 9px; height: 9px; background: $c_main_03; }

	.fig_left { float: left; margin: 0 1em 1em 0; border: 1px solid $c_gray_05; }

	&.type_2 { max-width: 50em; margin: 0 auto; }

	@media screen and (max-width: $breakpoint_small_smaller) {

		margin-bottom: 1em;
		p { margin-bottom: em(12,19); }
		ul { margin-bottom: 1em; }

	}

	@media screen and (max-width: $breakpoint_micro_smaller) {

		.fig_left {
			width: 45%; margin-bottom: 0.5em;
			img { width: 100%; }
		}

	}

}