/********************************************************************/
/* LEXICON **********************************************************/
/********************************************************************/

.lexicon {

	overflow: hidden; margin-bottom: 2em;

	h3 { float: left; font-size: 2em; line-height: em(40,24); font-weight: $f_weight_normal; padding: 0 .5em; color: $c_main_02; background: darken($c_main_01, 2%); @include transition(margin-left 0.5s ease-out); }

	p { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; background: $c_gray_8; font-size: em(15,12); font-weight: 600; line-height: em(40,15); height: em(40,15); color: $c_main_01; padding: 0 1em; position: relative; }

	@media screen and (max-width: $breakpoint_small_smaller) {

		margin-bottom: 1em;

	}

	@media screen and (max-width: $breakpoint_micro_smaller) {

		h3 { float: none; display: block !important; }

		p { text-overflow: clip; white-space: normal; height: auto; text-align: center; }
		p a { padding: 0 em(8,15); text-transform: uppercase; }

	}

	@media screen and (min-width: $breakpoint_medium_larger) {

		p:after { content: ""; position: absolute; right: 0; top: 0; bottom: 0; width: 10em; @include linear-gradient(left, rgba($c_gray_8,0), $c_gray_8, $fallback: transparent); opacity: 1; @include transition(opacity 0.4s ease-out); pointer-events: none; }
		p a { float: left; width: 6.5%; text-align: center; text-transform: uppercase; @include transition(width 0.5s ease-out); }

		&:hover p:after { opacity: 0; }
		&:hover h3 { margin-left: em(-200,20); }
		&:hover p a { width: percentage(1/26); }

	}

}

.lex_list {

	margin: -1em 0 2em;

	li {
		border-bottom: 1px solid $c_gray_05; overflow: hidden; padding: 1em 4em 1em 0; position: relative;
	}

	li > a {
		display: block;
		&:hover h3,
		&:hover p { color: darken($c_main_01, 20%); }
		&:hover .extra:before { color: darken($c_main_01, 20%); }
	}

	h3 {
		font-size: em(15,12); line-height: em(18,15); font-weight: 600; color: $c_main_01; margin-bottom: em(5,15);
	}

	p {
		font-size: em(13,12); line-height: em(18,13); color: $c_gray_03;
	}

	.extra {
		@include border-radius(50%);
		position: absolute; top: 1em; right: 0; width: 2em; height: 2em; padding: 0; text-align: center;
		background: $c_gray_7;
	}

	.extra:before { line-height: 2em; color: $c_main_01; font-weight: $f_weight_bold; width: 110%; }

	@media screen and (max-width: $breakpoint_micro_smaller) {

		h3 { float: none; width: auto; margin-bottom: em(5,15); }

	}

}