/********************************************************************/
/* LOADING ACTIVITY **************************************************/
/********************************************************************/

.loading_overlay {

	position: fixed; left: 0; right: 0; top: 0; bottom: 0; text-align: center; z-index: 2000; display: none; overflow: hidden;

	&.active { display: block; background-color: rgba(#fff, 0.4); }
	&.on { @include animation(fade_in 0.2s ease-in); }
	&.off { @include animation(fade_out 0.2s ease-in); }

	.loading_graphics { position: absolute; left: 50%; top: 50%; width: 4em; height: 4em; margin-left: -3em; margin-top: -3em; border: 1em solid rgba(#fff, 0.5); overflow: hidden; text-indent: -999em; background: #6ea443 url(../images/ajax-loader.gif) no-repeat center center; border-radius: 50%; background-clip: content-box; }

}