/********************************************************************/
/* MAIN NAVIGATION **************************************************/
/********************************************************************/

#page_navigation {

	/* mobile & tablet variation */
	@media screen and (max-width: $breakpoint_medium_smaller) {

		position: absolute; top: 0; right: 100%; bottom: 0; background-color: $c_gray_06; width: em(240,12);
		&:after { content:""; position: absolute; top: 0; right: 0; bottom: 0; width: 2em; @include linear-gradient(right, rgba(#000, 0.05), rgba(#000, 0.0), $fallback: transparent); pointer-events: none; }

		.nav a { font-size: em(14,12); background-color: tint($c_main_01, 90%); font-weight: 700; display: block; text-transform: uppercase; padding: em(16,14); border-bottom: 1px solid tint($c_main_01, 80%); position: relative; }
		.sub a { font-weight: 400; text-transform: none; }

		.active > a { background: $c_main_02; }
		.sub .active > a { background: $c_gray_07; }

		.nav .icon {
			position: static; padding-right: em(18,14);
			&:before { font-size: em(10,14); right: em(18,10); top: em(22,10); }
		}

		.user {

			position: relative;
			p { font-size: em(11,12); line-height: em(52,11); color: $c_gray_03; text-transform: uppercase; padding: 0 em(16,11); text-align: right; display: block; }
			p.icon {
				padding-left: em(40,11);
				&:before {
					top: em(14,25); left: em(14,25); color: lighten($c_main_01,10%); font-size: em(25,11);
				}
			}

		}

		.links a { font-size: em(13,12); font-weight: 400; display: block; padding: em(10,13) em(16,13); border-bottom: 1px solid darken($c_gray_06, 5%); position: relative; }

		.form_newsletter {

			padding: em(15,12) em(16,12) em(20,12); padding-right: em(36,12); border-bottom: 1px solid darken($c_gray_06, 5%);
			.title { font-size: em(14,12); margin-bottom: em(10,14); text-transform: uppercase; color: $c_main_01; }
			.form_field { padding-left: em(10,12); padding-right: 30px; @include border-radius(14px 0 0 14px); }
			.form_action_submit { width: 40px; right: -20px; padding: 0; }
			.icon_rpl:before { font-size: em(20,12); }

		}

		.social {
			overflow: hidden; border-bottom: 1px solid darken($c_gray_06, 5%); padding: em(20,12) 0;
			li { float: left; width: 33.33%; text-align: center; }
			a { font-size: em(35,12); border: none; padding: 0; }
			.fb_icon_circle { color: $c_icon_fb; }
			.tw_icon_circle { color: $c_icon_tw; }
			.gp_icon_circle { color: $c_icon_gp; }
		}

	}

	/* desktop variation */
	@media screen and (min-width: $breakpoint_medium_larger) {

		position: relative; margin-bottom: 2em;

		&:after { position: absolute; content: ""; left: 0; right: 0; bottom: 0; height: 1em; @include linear-gradient(bottom, rgba(#000, 0.05), rgba(#000, 0.0), $fallback: transparent); pointer-events: none; }

		.nav { display: table; width: 100%; background: $c_main_02; }
		li { display: table-cell; }

		a { font-size: em(13.5,12); line-height: em(60,13.5); font-weight: $f_weight_bold; text-transform: uppercase; text-align: center; border-left: 1px solid #c2d400; border-left: 1px solid rgba($c_main_01,0.2); display: block; position: relative; transition: background-color 0.2s ease-out; }
		a:hover { background-color: #cdd900; background-color: rgba(#000, 0.04); }
		li:first-child a { border-left: 0; }
		a:hover { color: darken($c_main_01, 5%); }
		.active a {
			background: rgba($c_main_01, 0.2); color: $c_main_01;
			&:after { position: absolute; content: ""; left: 0; right: 0; bottom: 0; height: 1em; @include linear-gradient(bottom, rgba(#000, 0.04), rgba(#000, 0.0), $fallback: transparent); pointer-events: none; }
		}

		li .icon { padding-right: em(13,13.5); }
		li .icon:before { font-size: em(10,13.5); right: -0.5em; top: em(36,13.5); opacity: 0.4; }

		&.subnav { margin-bottom: em(72,12); }

		.sub { background: $c_main_02; position: absolute; width: 100%; left: 0; }
		.sub ul { background: rgba($c_main_01, 0.2); display: block; overflow: hidden; position: relative; }
		.no-boxshadow & .sub { border-top: 1px solid #c2d400; background: darken($c_main_02,3%); }
		.sub ul:after { content:""; position: absolute; left: 0; bottom: -1px; height: 1px; right: 0; box-shadow: 0 0 1em rgba(#000,0.75); }
		.sub li { display: block; float: left; }
		.sub a { font-size: em(14,12); line-height: em(48,14); font-weight: 400; text-transform: none; text-align: left; border-left: 0; padding: 0 em(17,14); background: none; }
		.sub a:after { background: none; }
		.sub a:hover { color: darken($c_main_01, 5%); background-color: rgba(#000, 0.02); }
		.sub .active a {
			color: $c_gray_2;

			&:after {
				@include rotate(45deg);
   				content: ""; position: absolute; width: 14px; height: 14px; left: 50%; bottom: -10px; margin-left: -7px; background: $c_gray_07; z-index: 10;
   			}

		}

		.user,
		.transferable { display: none; }

	}

}