/********************************************************************/
/* PAGINATION *******************************************************/
/********************************************************************/

.pagination {

	margin-bottom: 2em;

	ul { float: left; }
	
	li {
		
		float: left; font-size: em(15,12); line-height: em(36,15); font-weight: 600; color: $c_main_01; margin: 0 em(5,15);
		
		a {
			@include border-radius(50%);
			width: em(36,15); width: em(36,15); text-align: center; display: block;
		}

	}

	li a:hover {
		color: $c_main_01; border: 2px solid $c_main_02; width: em(32,15); line-height: em(32,15); 
	}

	.active a {
		
		background: $c_main_02; 
	}

	.btn {
		float: right; margin: em(3,12) 0 0 em(10,12); padding: 0; height: em(30,12); width: em(50,12); text-align: center;
		&:before { font-size: em(18,12); line-height: em(30,18); }
	}


	@media screen and (max-width: $breakpoint_micro_smaller) {

		li { display: none; }
		.prev,
		.active,
		.next { display: block; }

	}

}