/* Typo
*******************************************************/
$main_font: 'Source Sans Pro', sans-serif;

$fLight: 300;
$fNormal: 400;
$fSemibold: 600;

/* Colors
*******************************************************/

$cMain01: #00aeef;
$cMain02: #4a656e;

/* Breakpoints
*******************************************************/
$breakpointSmall: 600px;
$breakpointMedium: 980px;