/* Helpers
*******************************************************/
@mixin fontFace( $fontName ) {
	font-family: $fontName;
	src:url('../font/'+$fontName+'.eot?v=3');
	src:url('../font/'+$fontName+'.eot?#iefix') format('embedded-opentype'),
		url('../font/'+$fontName+'.woff?v=3') format('woff'),
		url('../font/'+$fontName+'.ttf?v=3') format('truetype'),
		url('../font/'+$fontName+'.svg#'+$fontName) format('svg');
	font-weight: normal;
	font-style: normal;
}

@mixin defaultIconFont( $font_name ) {
	font-family: $font_name;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin cf {

	zoom:1;

	&:before,
	&:after	{ content:" "; display:table; }
	&:after	{ clear:both; }

}

@mixin opacity($opacity) {
	$opacity-ie: $opacity * 100;
	opacity:$opacity;
	filter:alpha(opacity=$opacity-ie);
}


/* UI elements
*******************************************************/
@mixin buttonReset {

	@include box-sizing(border-box);

	display: inline-block; width: auto; height: auto; cursor: pointer;
	margin: 0; padding: 0; border: 0; background: none; text-align: center;

}

@mixin formTypeElement {

	@include box-sizing(border-box);

	display: inline-block; width: auto; height: auto;
	margin: 0; padding: 0; border: 0; background: none;
	
	border: 1px solid lighten($cGray01,35%); border-radius: 1.5em;
    font-size: em(12,10); line-height: em(18,12); font-weight: $fNormal; color: $cGray01;
    padding: em(2,12) 1em;

	&::-moz-focus-inner	{ padding:0; border:0; }

}

@mixin formSelectElement {

	@include appearance(none);
	-moz-appearance:  none;

	display: inline-block; width: auto; height: auto;
	margin: 0; padding: 0; border: 0; background: none;
    font-size: em(12,10); height: em(24,12); font-weight: $fNormal; color: $cGray01;

	&::-moz-focus-inner	{ padding:0; border:0; }

}

/* Animations
*******************************************************/

@mixin transitionTransform($duration: 300, $easing: ease-in-out ){

	-webkit-transition: -webkit-transform #{$duration}ms #{$easing};
	-moz-transition: -moz-transform #{$duration}ms #{$easing};
	-o-transition: -o-transform #{$duration}ms #{$easing};
	transition: transform #{$duration}ms #{$easing};

}